  /Users/kohlhase/vc/git/gl.kwarc.info/kwarc/kwarc.info/www/_layouts:
  total used in directory 96 available 4879014687
  drwxr-xr-x  11 kohlhase  staff   352 Oct 20 13:41 .
  drwxr-xr-x  25 kohlhase  staff   800 Oct 20 13:41 ..
  -rw-r--r--   1 kohlhase  staff  4502 Oct 20 13:41 compress.html
  -rw-r--r--   1 kohlhase  staff   672 Oct 20 13:41 course.html
  -rw-r--r--   1 kohlhase  staff   820 Oct 20 13:41 default.html
  -rw-r--r--   1 kohlhase  staff   583 Oct 20 13:41 jobad.html
  -rw-r--r--   1 kohlhase  staff    65 Oct 20 13:41 page.html
  -rw-r--r--   1 kohlhase  staff  4887 Oct 20 13:41 person.html
  -rw-r--r--   1 kohlhase  staff   432 Oct 20 13:41 post.html
  -rw-r--r--   1 kohlhase  staff  5145 Oct 20 13:41 project.html
  -rw-r--r--   1 kohlhase  staff  3210 Oct 20 13:41 system.html
